[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
requests = "*"
dfs-shared = {git = "https://github.com/enrique-rodriguez/dfs-shared"}
pymongo = "*"

[dev-packages]
pytest = "*"
black = "*"
webtest = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
