[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pika = "*"
bottle = "*"
paste = "*"
requests = "*"
dfs-shared = {git = "https://github.com/enrique-rodriguez/dfs-shared"}

[dev-packages]
pytest = "*"
webtest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
